@import "../../Styles/variables/variables.scss";

#ImportThrough{
    margin: 5rem 0 10rem;

    h4{
        color: $mat_black;
        font-size: 3.2rem;
        line-height: 3.6rem;
        font-weight: 600;
        margin-bottom: 3rem;
        text-align: center;
    }

    .inner{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
        max-width: 55rem;
        width: 100%;
        margin: 0 auto;

        button,a{
            flex: 1 0 30%;
            height: 5rem;
            background-color: $primary_color;
            border-radius: 1.5rem;
            color: $white;
            font-size: 1.8rem;
            line-height: 2.4rem;
            font-weight: 600;
            border: transparent;
            box-shadow: initial;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            transition: all ease-in-out 0.3s;

            &:hover{
                background-color: #a78ae7;
            }

        }
    }
    .bottom {
        background-color: #fff;
        z-index: 111;
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 -4px 10px 0 rgba(239, 241, 242, 1);
        width: 100%;
        height: 7rem;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 4rem;

        .back_btn {
            border: .1rem solid $black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            line-height: 2.1rem;
            font-weight: 500;
            width: 12rem;
            min-width: 15rem;
            height: 4rem;
            border-radius: 4rem;
            color: $black;

            i {
                color: $black;
                margin-right: 1.2rem;
                font-size: 1.2rem;
            }
        }

        .next_btn {
            max-width: 12rem;
            width: 100%;
            height: 4rem;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4rem;
            border: .1rem solid transparent;
            font-size: 1.6rem;
            line-height: 2.1rem;
            font-weight: 500;
            margin: initial;


            i {
                font-size: 1.2rem;
                margin-left: 1.2rem;
            }

        }
    }

}