@import "../../../Styles/variables/variables.scss";

#login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    h2{
        color: $black;
        font-size: 3.2rem;
        line-height: 3.8rem;
        text-align: center;
        margin-bottom: 3rem;
    }
}