$white: #ffff;
$white_opacity: rgba(255, 255, 255, 0.8);
$black: #000;
$primary_color: #7F56D9;
$gray_color: #A0AEC0;
$mat_black: #212529;
$linear_bg: linear-gradient(180deg, #3038F7 22.62%, rgba(136, 48, 247, 0) 97.82%);
$secondary_color: #3139F8;
$grey_text: #626262;