@import "../../../../Styles/variables/variables.scss";

#TypeOfPacking{
    
    .inner{
        h2{
            color: $black;
            font-size: 3.2rem;
            margin-bottom: 3rem;
        }

        .label_blk{
            margin-top: 2.5rem;
            display: flex;
            align-items: center;
            gap: 0 2rem;

            .packing_type{
                background-color: $primary_color;
                color: #fff;
                border: transparent;
                box-shadow: initial;
                height: 5rem;
                flex: 0 0 35%;
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }

     
    }


    
    .bottom {
        background-color: #fff;
        z-index: 111;
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 -4px 10px 0 rgba(239, 241, 242, 1);
        width: 100%;
        height: 7rem;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 4rem;

        .back_btn {
            border: .1rem solid $black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            line-height: 2.1rem;
            font-weight: 500;
            width: 12rem;
            min-width: 15rem;
            height: 4rem;
            border-radius: 4rem;
            color: $black;

            i {
                color: $black;
                margin-right: 1.2rem;
                font-size: 1.2rem;
            }
        }

        .next_btn {
            max-width: 12rem;
            width: 100%;
            height: 4rem;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4rem;
            border: .1rem solid transparent;
            font-size: 1.6rem;
            line-height: 2.1rem;
            font-weight: 500;
            margin: initial;


            i {
                font-size: 1.2rem;
                margin-left: 1.2rem;
            }

        }
    }
    
}